<nav class="navbar navbar-expand-lg fixed-bottom navbar-dark bg-dark">
  <div class="container-fluid justify-content-center text-center">
    <ul class="navbar-nav d-flex flex-row">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" [routerLink]="['home']">
          <img
            class="icone"
            src="../../../assets/icones/home_green.png"
            alt=""
          />
          <p>Home</p></a
        >
      </li>
      <li
        *ngIf="!warningChecked"
        class="nav-item"
        data-bs-toggle="modal"
        data-bs-target="#warningModal"
      >
        <a class="nav-link" [routerLink]="['map']">
          <img
            class="icone"
            src="../../../assets/icones/map_green.png"
            alt=""
          />
          <p>Carte</p></a
        >
      </li>
      <li *ngIf="warningChecked" class="nav-item">
        <a class="nav-link" [routerLink]="['map']">
          <img
            class="icone"
            src="../../../assets/icones/map_green.png"
            alt=""
          />
          <p>Carte</p></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['account']">
          <img
            class="icone"
            src="../../../assets/icones/account_green.png"
            alt=""
          />
          <p>Profil</p></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" [routerLink]="['']">
          <img
            class="icone"
            src="../../../assets/icones/notif_off.png"
            alt=""
          />
          <p>A venir</p></a
        >
      </li>
    </ul>
  </div>
</nav>
