<div
  class="modal fade"
  id="warningModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="warningModalLabel"
  aria-hidden="true"
  data-show="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <img
          class="icone"
          src="../../../assets/icones/warning.png"
          alt="panneau attention"
        />
        <h1 class="modal-title fs-5" id="warningModalLabel" class="text-center">
          Avertissement : Utilisation de Truck Place uniquement à l'arrêt
        </h1>
        <img
          class="icone"
          src="../../../assets/icones/warning.png"
          alt="panneau attention"
        />
      </div>
      <div class="modal-body">
        <div class="d-flex flex-column" style="width: 100%">
          <p class="">Chère utilisatrice, Cher utilisateur de Truck Place,</p>

          <p>
            Nous tenons à rappeler l'importance cruciale de la sécurité routière
            et de respecter les lois en vigueur. En conformité avec la
            législation française concernant l'usage du téléphone au volant,
            nous vous informons que l'utilisation de l'application Truck Place
            doit se faire exclusivement lorsque votre véhicule est à l'arrêt.
          </p>

          <p>Rappel de la législation en France :</p>
          <p>
            Conformément à l'article R412-6-1 du Code de la Route, l'utilisation
            du téléphone tenu en main est strictement interdite pendant la
            conduite. Cette interdiction vise à prévenir les accidents et à
            garantir la sécurité de tous les usagers de la route.
          </p>

          <p>
            Afin d'assurer votre sécurité et celle des autres, nous vous prions
            de suivre ces consignes :
          </p>

          <p>
            Utilisez l'application Truck Place uniquement lorsque votre véhicule
            est stationné. Ne manipulez pas votre téléphone pendant la conduite,
            même si vous utilisez des dispositifs mains libres.
          </p>

          <p>
            En utilisant l'application Truck Place, vous reconnaissez et
            acceptez que nous nous dégageons de toute responsabilité liée à
            l'utilisation inappropriée de l'application pendant la conduite.
            Nous encourageons la conduite responsable et l'observation stricte
            des lois de la route.
          </p>

          <p>
            Nous vous remercions de votre compréhension et de votre engagement
            envers la sécurité routière.
          </p>

          <p>Cordialement,</p>

          <p>L'équipe Truck Place</p>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="onAcceptWarn()"
        >
          J'ai compris
        </button>
      </div>
    </div>
  </div>
</div>
