.card:hover {
    box-shadow: #337551 0px 3px 8px;
}

.card-parking {
    height: 100%;
}

p {
    margin: 0
}

img {
    width: 50px;
}

.parking-name {
    font-weight: 600;
    color: #357751;
}

.location {
    font-size: 14px;
}

.road {
    font-size: 12px;
}

.btn-danger {
    height: 20px;
    width: 20px;
    padding: 0 5px;
    font-size: 10px;
}

.reliabilityDanger {
    color: #BC3030;
}

.reliabilitySafe {
    color: #337551;
}

.reliabilityMedium {
    color: #996c2c;
}