.container-fluid {
    padding: 0;
}

.banner {
    background: linear-gradient(#337551, #C8E5CE);
    height: 14vh;
}

#iconUser {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
    box-shadow: #337551 0px 3px 8px;
    display: flex;
    justify-content: center;
    margin-top: -40px;
    overflow: hidden;
}

.btn-modify {
    border: none;
    background-color: transparent;
    height: 30px;
}

.icone {
    width: 30px;
}

.user-profile {
    margin-top: 8px;
}

.user-profile p {
    margin-bottom: 8px;
    width: 40vw;
    border-bottom: 1px solid black
}

.p-pseudo {
    padding-left: 25px;
    width: 100%;
}

.userProfileIcon {
    width: 25px;
    height: 25px;
}

.btn-truck {
    font-size: 1rem;
    height: 38px;
    color: #ffffff;
    background-color: #337551;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

.btn-truck:hover {
    background-color: #234e35;
    box-shadow: 0rem 0rem 0rem 0.05rem #234e35;
}

.parking-zone {
    height: 13.4rem;
    background-color: #C8E5CE;
}

.parking-zone p,
.subscription-zone p {
    padding-left: 8px;
    margin-bottom: 0;
}

.subscription-zone {
    height: 16rem;
    background-color: #C8E5CE;
}

.parking-scroll {
    overflow: auto;
}

h1 {
    font-size: 2em;
    margin: 2em 0 1.5em;
}

.btn-danger {
    margin-bottom: 10px;
}

@media only screen and (max-width: 48rem) {
    .container-fluid {
        padding-bottom: 60px;
    }

    .banner {
        height: 18vh;
    }

    .parking-zone {
        height: 13.2rem;
    }

    .subscription-zone {
        height: 15.4rem;
    }

    .btn-danger {
        margin-top: 0;
    }
}