.mainContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.textBienvenue {
    text-align: center;
    padding-top: 1.2rem;
    margin-top: 1rem;
}

h1{
    font-size: 1.5rem;
}
input {
    background-color: rgba(34, 87, 119, 0.2);
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    margin-top: 1rem;
    padding: 0.7rem;
    padding-left: 3rem;
    width: 30vw;
}

#pseudoInput {
    margin-top: 0;
}

.input-error {
    border: 0.13rem solid #BC3030;
}

.input-error-email {
    border: 0.13rem solid #BC3030;
}

.alert {
    color: #BC3030;
    font-size: 0.7rem;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.emailKO {
    color: #BC3030;
    font-size: 0.7rem;
    padding-left: 1rem;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.btn {
    font-size: 1rem;
    color: #FFFFFF;
    background-color: #337551;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    margin-top: 1rem;
    padding: 0.7rem;
    width: 30vw;
}

.linkLogin {
    margin-top: 1rem;
}

.btn:hover {
    background-color: #3b94cb;
    box-shadow: 0rem 0rem 0rem 0.05rem #3b94cb;
}

/*Media Queries */
@media only screen and (max-width: 48rem) {
    input {
        align-items: center;
        padding-left: 1.3rem;
        width: 68vw;
    }

    .alert {
        font-size: 0.69rem;
    }


    .errorMdp, .errorConfirme {
        width: 55vw;
    }

    .btn {
        width: 68vw;
        margin-top: 0.5rem;
    }

    .btn:hover {
        background-color: #337551;
    }
}


@media (min-width: 100rem) {
    .mainContainer {
        margin-top: 8rem;
    }
}