.modal-header button {
    border: none;
    background-color: white;
    height: 30px;
}

/* ----------------- modal-header ----------------- */
.icone {
    width: 30px;
}

/*------------------- modal-body --------------------*/
/* members-opinion */
.btn-opinion {
    border: none;
    background-color: none;
    padding: 0;
    height: 24px;
    text-decoration: underline;
    color: #337551;
}

/* zone-info */
.allSpaces{
    font-size: 32px;
}

.reliabilityDanger {
    font-weight: bolder;
    color: #BC3030;
    font-size: 32px;
}

.reliabilitySafe {
    font-weight: bolder;
    color: #337551;
    font-size: 32px;
}

.reliabilityMedium {
    font-weight: bolder;
    color: #996c2c;
    font-size: 32px;
}

/*---------------------- modal-footer --------------------*/
.btn-subscribe {
    font-size: 1rem;
    color: #ffffff;
    background-color: #337551;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    height: 38px;
}

.btn-subscribe:hover {
    background-color: #234e35;
    box-shadow: 0rem 0rem 0rem 0.05rem #234e35;
}