<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>

<div
  class="modal fade"
  id="parkingModal"
  tabindex="-1"
  aria-labelledby="parkingModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div>
        <div class="modal-header d-flex align-items-stretch">
          <button
            *ngIf="user"
            type="button"
            class="btn-modal"
            data-bs-dismiss="modal"
            aria-label="modify"
            data-bs-toggle="modal"
            data-bs-target="#updateParkingModal"
          >
            <img
              class="icone"
              src="../../../../assets/icones/modify_green.png"
              alt=""
            />
          </button>

          <div class="d-flex flex-column text-center">
            <div>
              <div class="d-flex justify-content-center">
                       <h1 class="modal-title" id="parkingModalLabel">
                {{ parking.parking_name | uppercaseFirst }}
              </h1>
                       <button
                       *ngIf="isAdmin"
              class="btn btn-delete"
              data-bs-toggle="modal"
              data-bs-target="#deleteParkingModal"
            >
              <img
                class="icone"
                src="../../../assets/icones/delete.png"
                alt="supprimer"
              />
            </button>

              </div>
       
              <h2 class="modal-title fs-5" id="parkingLocation">
                {{ location.zip_code }}
                {{ location.city_name | uppercaseFirst }}
              </h2>
              <h2
                class="modal-title fs-5"
                id="parkingMainroad"
                *ngIf="parking.main_road"
              >
                {{ parking.main_road }} - Direction : {{ parking.direction }}
              </h2>
            </div>
            <div *ngIf="user" class="btn-zone">
              <button
                type="button"
                class="btn-like"
                aria-label="modify"
                (click)="onLikeBtn()"
              >
                <img
                  *ngIf="isParkingLiked"
                  class="icone"
                  src="../../../../assets/icones/like_on.png"
                  alt=""
                />
                <img
                  *ngIf="!isParkingLiked"
                  class="icone"
                  src="../../../../assets/icones/like_off.png"
                  alt=""
                />
              </button>
            </div>
          </div>

          <button
            type="button"
            class="btn-modal"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="returnMap()"
          >
            <img
              class="icone"
              src="../../../../assets/icones/close_green.png"
              alt=""
            />
          </button>
        </div>
      </div>

      <div class="modal-body">
        <div class="members-opinion">
          <app-rating-bar [note]="averageParking"></app-rating-bar>

          <div class="opinion d-flex justify-content-center">
            <p>{{ numberOpinions }} avis</p>
            <div *ngIf="numberOpinions > 0" class="d-flex">
              <p>-</p>
              <button
                type="button"
                class="btn btn-opinion"
                data-bs-toggle="modal"
                data-bs-target="#opinionModal"
              >
                Voir les avis
              </button>
            </div>
            <div *ngIf="numberOpinions == 0 && user" class="d-flex">
              <p>-</p>
              <button
                type="button"
                class="btn btn-opinion"
                data-bs-toggle="modal"
                data-bs-target="#createOpinionModal"
              >
                Ajouter le premier avis
              </button>
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <img src="../../../../assets/icones/park.png" alt="" />
          </div>

          <div class="info-zone d-flex flex-row justify-content-around">
            <div class="text-center">
              <p class="modal-title fs-5" id="parkingNbSpaceAll">Total</p>
              <p class="allSpaces">{{ parking.nb_space_all }}</p>
            </div>
            <div class="text-center">
              <p class="modal-title fs-5" id="parkingNbSpaceFree">Libre</p>
              <p [ngClass]="reliabilityStatus">{{ parking.nb_space_free }}</p>
            </div>
          </div>

          <app-services-list
            *ngIf="parking.services.length > 0"
            [services]="parking.services"
          ></app-services-list>
        </div>

        <div class="modal-footer d-flex flex-column justify-content-center">
          <div class="d-flex">
            <div *ngIf="user">
              <button
                *ngIf="!isSubscribed"
                type="button"
                class="btn btn-truck"
                (click)="onSubscribeBtn()"
              >
                S'abonner
              </button>
              <button
                *ngIf="isSubscribed"
                type="button"
                class="btn btn-danger"
                (click)="onUnsubscribeBtn()"
              >
                Se désabonner
              </button>
            </div>

            <button
              *ngIf="!user"
              class="btn-truck"
              [routerLink]="'/account/login'"
              data-bs-dismiss="modal"
            >
              Se connecter
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>

          <p
            *ngIf="!user"
            class="text-center"
            style="font-size: 12px; color: #bc3030"
          >
            Pour modifier et donner son avis sur ce parking merci de vous
            connecter
          </p>
          <div
            class="container-fluid d-flex justify-content-center"
            *ngIf="isClicked"
          >
            <form
              (ngSubmit)="onSubscribeSubmit(+nbHourSubscribed.value)"
              #subscribeForm="ngForm"
            >
              <div class="d-flex" style="width: 100%">
                <div class="flex-fill align-self-end">
                  <p class="p-subscribe">S'abonner pour :</p>
                </div>
                <div class="flex-fill">
                  <input
                    type="number"
                    #nbHourSubscribed
                    class="form-control"
                    min="1"
                    max="12"
                    value="1"
                    (change)="onChangeHourSubscribe(+nbHourSubscribed.value)"
                    [class.input-error]="!isValid"
                    required
                  />
                </div>
                <div class="flex-fill align-self-end">
                  <p class="p-subscribe">heure(s)</p>
                </div>
              </div>
              <div *ngIf="!isValid" class="alert text-center">
                Maximum 12 heures
              </div>
              <div class="d-flex justify-content-center btn-zone">
                <button
                  type="submit"
                  class="btn btn-truck"
                  [disabled]="subscribeForm.invalid || !isValid"
                >
                  OK
                </button>
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="onSubscribeBtn()"
                >
                  Annuler
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
