.modal-header button {
    border: none;
    background-color: white;
    height: 30px;
}

/* ----------------- modal-header ----------------- */
.icone {
    width: 30px;
}

/*------------------- modal-body --------------------*/
/* members-opinion */

/* zone-info */
.reliabilityDanger {
    font-weight: bolder;
    color: #BC3030;
    font-size: 32px;
}

.reliabilitySafe {
    font-weight: bolder;
    color: #337551;
    font-size: 32px;
}

.reliabilityMedium {
    font-weight: bolder;
    color: #996c2c;
    font-size: 32px;
}

/*---------------------- modal-footer --------------------*/
.btn-subscribe {
    font-size: 1rem;
    color: #ffffff;
    background-color: #337551;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0.7rem;
}