<!-- <button type="button" class="btn btn-primary btn-openModal" data-bs-toggle="modal" data-bs-target="#parkingModal">
                    {{this.parking.parking_name}}</button> -->
<!-- Modal -->
<div
  class="modal fade"
  id="parkingModal"
  tabindex="-1"
  aria-labelledby="parkingModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-stretch">
        <button
          type="button"
          class="btn-modal"
          data-bs-dismiss="modal"
          aria-label="modify"
          data-bs-toggle="modal" 
          data-bs-target="#updateParkingModal"
        >
          <img
          *ngIf="user"
            class="icone"
            src="../../../../assets/icones/modify_green.png"
            alt=""
          />
        </button>

        <div class="d-flex flex-column text-center">
          <h1 class="modal-title" id="parkingModalLabel">
            {{ parking.parking_name | uppercaseFirst }}
          </h1>
          <h2 class="modal-title fs-5" id="parkingLocation">
            {{ location.zip_code }} {{ location.city_name | uppercaseFirst }}
          </h2>
          <h2
            class="modal-title fs-5"
            id="parkingMainroad"
            *ngIf="parking.main_road"
          >
            {{ parking.main_road }} - Direction : {{ parking.direction }}
          </h2>
        </div>

        <button
          type="button"
          class="btn-modal"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="returnMap()"
        >
          <img
            class="icone"
            src="../../../../assets/icones/close_green.png"
            alt=""
          />
        </button>
      </div>

      <div class="modal-body">
        <div class="members-opinion">
          <app-rating-bar [note]="averageParking"></app-rating-bar>

          <div class="opinion d-flex justify-content-center">
            <p>{{ numberOpinions }} avis</p>
            <div *ngIf="numberOpinions > 0" class="d-flex">
              <p>-</p>
              <button
                type="button"
                class="btn btn-opinion"
                data-bs-toggle="modal"
                data-bs-target="#opinionModal"
              >
                Voir les avis
              </button>
            </div>
            <div *ngIf="numberOpinions == 0 && user" class="d-flex">
              <p>-</p>
              <button
                type="button"
                class="btn btn-opinion"
                data-bs-toggle="modal"
                data-bs-target="#createOpinionModal"
              >
                Ajouter le premier avis
              </button>
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <img src="../../../../assets/icones/park.png" alt="" />
          </div>

          <div class="info-zone d-flex flex-row justify-content-around">
            <div class="text-center">
              <p class="modal-title fs-5" id="parkingNbSpaceAll">Total</p>
              <p class="allSpaces">{{ parking.nb_space_all }}</p>
            </div>
            <div class="text-center">
              <p class="modal-title fs-5" id="parkingNbSpaceFree">Libre</p>
              <p [ngClass]="reliabilityStatus">{{ parking.nb_space_free }}</p>
            </div>
          </div>

          <app-services-list
            *ngIf="parking.services.length > 0"
            [services]="parking.services"
          ></app-services-list>
        </div>

        <div class="modal-footer d-flex flex-row justify-content-center">
          <button *ngIf="user" class="btn-subscribe">S'abonner</button>
          <button *ngIf="!user" class="btn-subscribe" [routerLink]="'/account/login'" data-bs-dismiss="modal">Se connecter</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <p *ngIf="!user" class="text-center" style="font-size: 12px; color: #BC3030" >Pour modifier et donner son avis merci de vous connecter</p>
        </div>
      </div>
    </div>
  </div>
</div>
