<form>
  <div class="input-group rounded">
    <input
      #search
      id="search"
      type="search"
      class="form-control"
      [value]="[locationValue]"
      placeholder="Code postal"
      (input)="onSearch(search.value)"
    />
  </div>
  <div *ngIf="search.value && !buttonClicked">
    <div *ngFor="let location of filteredLocations">
      <button
        type="submit"
        class="btn-location"
        (click)="getSearchedLocation(location)"
      >
        {{ location.zip_code }} {{ location.city_name |uppercaseFirst }}
      </button>
    </div>
  </div>
</form>

<!-- <mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let location of filteredOption | async" >
    {{location.zip_code}}  {{location.city_name}}
  </mat-option>
</mat-autocomplete>
<div class="input-group rounded">
<input type="text"
       placeholder="Pick one"
       aria-label="Number"
       matInput
       [matAutocomplete]="auto"
       [formControl="searchValue"></div>
</div> -->
