<nav class="navbar navbar-expand-lg fixed-bottom navbar-dark bg-dark">
  <div class="container-fluid">
    <ul class="navbar-nav d-flex flex-row">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="#">
          <img
            class="icone"
            src="../../../assets/icones/home_green.png"
            alt=""
          />
          <p>Home</p></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"
          ><img
            class="icone"
            src="../../../assets/icones/notif_off.png"
            alt=""
          />
          <p>Notifs</p></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"
          ><img
            class="icone"
            src="../../../assets/icones/map_green.png"
            alt=""
          />
          <p>Carte</p></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <img
            class="icone"
            src="../../../assets/icones/account_green.png"
            alt=""
          />
          <p>Profil</p></a
        >
      </li>
    </ul>
  </div>
</nav>
