  <div class="note d-flex justify-content-center">
      <div *ngIf="note == 0">
        <img
          class="heart"
          src="../../../../assets/icones/star_off.png"
          alt="étoile éteinte"
        />
        <img
          class="heart"
          src="../../../../assets/icones/star_off.png"
          alt="étoile éteinte"
        />
        <img
          class="heart"
          src="../../../../assets/icones/star_off.png"
          alt="étoile éteinte"
        />
        <img
          class="heart"
          src="../../../../assets/icones/star_off.png"
          alt="étoile éteinte"
        />
        <img
          class="heart"
          src="../../../../assets/icones/star_off.png"
          alt="étoile éteinte"
        />
      </div>
      <div *ngIf="note == 1">
        <img
          class="heart"
          src="../../../../assets/icones/star_on.png"
          alt="étoile allumée"
        />
        <img
          class="heart"
          src="../../../../assets/icones/star_off.png"
          alt="étoile éteinte"
        />
        <img
          class="heart"
          src="../../../../assets/icones/star_off.png"
          alt="étoile éteinte"
        />
        <img
          class="heart"
          src="../../../../assets/icones/star_off.png"
          alt="étoile éteinte"
        />
        <img
          class="heart"
          src="../../../../assets/icones/star_off.png"
          alt="étoile éteinte"
        />
      </div>
      <div *ngIf="note == 2">
        <img
          class="heart"
          src="../../../../assets/icones/star_on.png"
          alt="étoile allumée"
        />
        <img
          class="heart"
          src="../../../../assets/icones/star_on.png"
          alt="étoile allumée"
        />
        <img
          class="heart"
          src="../../../../assets/icones/star_off.png"
          alt="étoile éteinte"
        />
        <img
          class="heart"
          src="../../../../assets/icones/star_off.png"
          alt="étoile éteinte"
        />
        <img
          class="heart"
          src="../../../../assets/icones/star_off.png"
          alt="étoile éteinte"
        />
      </div>
      <div *ngIf="note == 3">
        <img
          class="heart"
          src="../../../../assets/icones/star_on.png"
          alt="étoile allumée"
        />
        <img
          class="heart"
          src="../../../../assets/icones/star_on.png"
          alt="étoile allumée"
        />
        <img
          class="heart"
          src="../../../../assets/icones/star_on.png"
          alt="étoile allumée"
        />
        <img
          class="heart"
          src="../../../../assets/icones/star_off.png"
          alt="étoile éteinte"
        />
        <img
          class="heart"
          src="../../../../assets/icones/star_off.png"
          alt="étoile éteinte"
        />
      </div>
      <div *ngIf="note == 4">
        <img
          class="heart"
          src="../../../../assets/icones/star_on.png"
          alt="étoile allumée"
        />
        <img
          class="heart"
          src="../../../../assets/icones/star_on.png"
          alt="étoile allumée"
        />
        <img
          class="heart"
          src="../../../../assets/icones/star_on.png"
          alt="étoile allumée"
        />
        <img
          class="heart"
          src="../../../../assets/icones/star_on.png"
          alt="étoile allumée"
        />
        <img
          class="heart"
          src="../../../../assets/icones/star_off.png"
          alt="étoile éteinte"
        />
      </div>
      <div *ngIf="note == 5">
        <img
          class="heart"
          src="../../../../assets/icones/star_on.png"
          alt="étoile allumée"
        />
        <img
          class="heart"
          src="../../../../assets/icones/star_on.png"
          alt="étoile allumée"
        />
        <img
          class="heart"
          src="../../../../assets/icones/star_on.png"
          alt="étoile allumée"
        />
        <img
          class="heart"
          src="../../../../assets/icones/star_on.png"
          alt="étoile allumée"
        />
        <img
          class="heart"
          src="../../../../assets/icones/star_on.png"
          alt="étoile allumée"
        />
      </div>
    </div>